/* Estilos para la sección de restablecimiento de contraseña */
.reset-password {
    width: 90%; /* Ajusta el ancho de la sección */
    max-width: 980px; /* Limita el ancho máximo */
    height: 80%; /* Ajusta la altura de la sección */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; /* Centra la sección horizontalmente */
}

/* Ajuste para el logo */
.reset-password .text-center img {
    max-height: 400px; /* Ajusta la altura máxima del logo */
    object-fit: cover;
}

/* Ajuste para el formulario */
.reset-password form {
    background-color: #F4D9D0; /* Fondo suave para el formulario */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilos para el botón */
.reset-password .btn-primary {
    background-color: #921A40; /* Color de fondo del botón */
    border-color: #921A40; /* Color del borde del botón */
}

.reset-password .btn-primary:hover {
    background-color: #C75B7A; /* Color de fondo al pasar el ratón */
    border-color: #C75B7A; /* Color del borde al pasar el ratón */
}

/* Estilos para el título */
.reset-password h2 {
    color: #921A40; /* Color del título */
}
